<div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
  <div class="nav-container">
    <a href="https://www.the-radr.com" class="w-nav-brand">
      <img src="/images/radr-logo.png" alt="logo" height="43" width="131">
    </a>
    <div>
      <a href="/users/sign_up" class="button-3 w-hidden-medium w-hidden-small w-hidden-tiny w-button">Registrieren</a>
    </div> 
  </div> 
</div> 
<div class="div-block-10 w-form" style="height: 200px;">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <h3 class="heading-4">Passwort vergessen?</h3>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-input" %>
    <%= f.submit "Passwort senden", class:"button-11 w-button" %>
    <div>
      <a href="/users/sign_up" class="link-6">Registrieren</a>
      <a href="/users/sign_in" class="link-6">Anmelden</a>
    </div> 
<% end %>
</div>
