<nav class="navbar navbar-expand-md ol-navbar">
    <a class="navbar-brand" href="/">
      <img src="https://uploads-ssl.webflow.com/5c06b9668d64f6e440a0abd8/5c0913cea9f8074e97a71591_radr%20logo%20dark.png" alt="Logo" height="40px">
    </a>
    <div class="ol-menu-container">
      <div class="ol-menu">
        <div id="hamburger" class="hamburger-icon-container">
            <span class="hamburger-icon"></span>
        </div>
        <ul>
          <li><a href="/">Dashboard</a></li>
          <li><a href="https://www.the-radr.com/support" target="_blank">Support</a></li>
          <li><a href="https://www.the-radr.com/impressum" target="_blank">Impressum</a></li>
          <li><a href="https://www.the-radr.com/datenschutz" target="_blank">Datenschutz</a></li>
          <li><%= link_to "Abmelden", destroy_user_session_path, :method => :delete %></li>
        </ul>
      </div>
    </div>

</nav>
<div style="max-width: 1100px; max-width: 90%; margin:0 auto;">
  <div class="newEvent newEvent1" id="newEvent-1">
    <h1>Event Bearbeiten</h1>
    <%= form_for(@event, :html => {role: "form"}, url: update_event_url) do |f| %>
                  <%= f.hidden_field :user_id, value: @user.id %>
                  <fieldset>
                    <div class="row">
                      <label for="name">Eventname</label>
                      <%= f.text_field :name, autofocus: true, placeholder: 'Beispiel Name' %>
                    </div>
                  </fieldset>  
                  <p class="info">Markieren Sie im Titel einen einzigartigen Aspekt der Veranstaltung. Dies hilft Benutzern, schnellere Entscheidungen zu treffen (z. B. "Fragen und Antworten mit dem Künstler").
        Fügen Sie keine kurzfristigen Werbeaktionen hinzu (z. B. "Tickets jetzt kaufen").
        Fügen Sie keine Preise im Titel hinzu</p>
                  <fieldset>
                    <div class="row beschreibung">
                      <label for="description">Beschreibung</label>
                      <%= f.text_area :description, placeholder: 'Beschreibung', class: 'form-control' %>
                    </div>
                  </fieldset>
                  <fieldset>
                    <div class="row">
                      <label for="start_date">Start Datum</label>
                      <%= f.text_field :start_date, placeholder: '01.01.2019', readonly: 'true', 'data-type': 'date' %>
                    </div>
                    <div class="row">
                      <label for="start_time">Uhrzeit</label>
                      <%= f.time_field :start_time, placeholder: '12:00' %>
                    </div>
                  </fieldset>
                  <fieldset>
                    <div class="row">
                      <label for="end_date">End Datum</label>
                      <%= f.text_field :end_date, placeholder: '01.01.2019', readonly: 'true', 'data-type': 'date' %>
                    </div>
                    <div class="row">
                      <label for="end_time">Uhrzeit</label>
                      <%= f.time_field :end_time, placeholder: '12:00' %>
                    </div>
                  </fieldset>
                  <p class="info">Wenn Ihre Veranstaltung kein genaues Ende hat und am selben Tag endet dann geben Sie kein End-Datum ein.</p>
                  <fieldset>
                    <div class="row">
                      <label for="place_id">Ort</label>
                      <%= f.collection_select(:place_id, @user.places.all, :id, :name) %>
                    </div>
                  </fieldset>
                  <p class="info">Um weitere Orte hinzuzufügen gehen Sie in den Reiter Einstellungen.</p>
                  <fieldset>
                    <div class="row">
                      <label for="image">Bild</label>
                      <div class="file-input-vis">
                        <%= f.file_field :image %>
                      </div>
                    </div>
                    <div class="row">
                      <label for="image_url">Bild-Link</label>
                      <%= f.url_field(:image_url, placeholder:"http://www.bild-link.de") %>
                    </div>
                  </fieldset>
                  <p class="info">Fügen Sie Ihrer Veranstaltung ein Bild hinzu oder in dem Sie ein Bild hochladen oder die URL eines Bildes einfügen.</p>
                  <fieldset>
                    <div class="row">
                      <label for="ticket_url">Ticketlink</label>
                      <%= f.url_field(:ticket_url, placeholder:"http://www.ticket-link.de") %>
                    </div>
                    <div class="row">
                      <label for="offer_price">Preis in €</label>
                      <%= f.number_field(:price, in: 0.0..10000.0, placeholder:'30') %>
                    </div>
                    <div class="row">
                      <label for="ticket_status">Verfügbar</label>
                      <%= f.select(:ticket_status, [['Verfügbar', 'https://schema.org/InStock'], ['Ausverkauft', 'https://schema.org/SoldOut'], ['Vorverkauf', 'https://schema.org/PreOrder']]) %>
                    </div>
                  </fieldset>
                  <p class="info">Wenn Sie online Tickets zu Ihrer Veranstaltung verkaufen tragen Sie hier Informationen ein.</p>
                  <fieldset>
                    <div class="row">
                      <label for="ticket_url">Link Eventseite</label>
                      <%= f.text_field(:pathname, placeholder:"/event-name") %>
                    </div>
                  </fieldset>
                  <p class="info">Falls Sie eine eigene Unterseite für das Event haben, fügen Sie hier den Link ein.</p>
                  <div id="material-header-holder" style="display:none">
                    <div class="ui-datepicker-material-day">
                    </div>
                    <div class="ui-datepicker-material-date">
                      <div class="ui-datepicker-material-month">
                      </div>
                      <div class="ui-datepicker-material-day-num">
                      </div>
                      <div class="ui-datepicker-material-year">
                      </div>
                    </div>
                  </div>
                  <button type="submit">Event aktualisieren</button>
    <% end %>
  </div>
</div>
