<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] --> <!-- Google Tag Manager (noscript) --> 
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PSNLS2Z" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript> 
<!-- End Google Tag Manager (noscript) --> 
<div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
  <div class="nav-container">
    <a href="https://www.the-radr.com" class="w-nav-brand">
      <img src="/images/radr-logo.png" alt="logo" height="43" width="131">
    </a>
    <div>
      <a href="/users/sign_up" class="button-3 w-hidden-medium w-hidden-small w-hidden-tiny w-button">Registrieren</a>
    </div> 
  </div> 
</div> 
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="div-block-10 w-form"> 
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h3 class="heading-4">Login</h3>
    <label for="email">Email Addresse</label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-input" %>
    <label for="name">Passwort</label>
    <%= f.password_field :password, autocomplete: "current-password", class: "w-input" %>
    <% if devise_mapping.rememberable? -%>  
      <div class="w-checkbox">
        <%= f.check_box :remember_me, class:"w-checkbox-input"%>
        <%= f.label "Angemeldet bleiben" %>
      </div>
    <% end -%>
    <%= f.submit "Anmelden", class:"button-11 w-button" %>
    <div>
      <a href="/users/password/new" class="link-6">Passwort vergessen?</a>
      <a href="/users/sign_up" class="link-6">Registrieren</a>
    </div> 
  <% end %> 
  </div> 
<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="/js/index.js" type="text/javascript"></script> 