<% @user.events.old.each do |event| %>
<div class="event-container">
  <img src="<%= event.image_url %>" alt="">
  <div class="inner-event-container">
    <h5><%= event.name %></h5>
    <p><%= event.description %></p>
    <p><%= event.start_time.strftime("%d.%m um %H:%M") %><% unless event.place_id == nil %>im <%= event.place.name %><% end %></p>
  </div>
  <div class="event-buttons">
    <button>Bearbeiten</button>
    <%= button_to "Löschen", {:controller => 'event', :action => 'destroy', :id => event.id }, :method => :delete %>
  </div>
</div>
<% end %>