<% @user.events.upcoming.each do |event| %>
<div class="event-container">
  <% if event.image.attached? %>
    <img src="<%= url_for(event.image) %>" alt="">
  <% else %>
    <img src="<%= event.image_url %>" alt="">
  <% end %>
  <div class="inner-event-container">
    <h5><%= event.name %></h5>
    <p><%= event.description %></p>
    <p><%= event.start_time.strftime("%d.%m um %H:%M") %><% unless event.place.nil? %> im <%= event.place.name %><% end %></p>
  </div>
  <div class="event-buttons">
    <%= button_to "Bearbeiten", {:controller => 'event', :action => 'edit', :id => event.id }, :method => :get %>
    <%= button_to "Löschen", {:controller => 'event', :action => 'destroy', :id => event.id }, :method => :delete %>
  </div>
</div>
<% end %>