<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <title>Radr - Dashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'application/favicon' %>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css'><link rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
    <style>@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");

      body {
        font-family: 'Roboto';
        background: #F9FAFB;
        margin-top: 100px;
        height: 100%;
        width: 100%;
        -webkit-font-smoothing: antialiased;
        -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
        }

.ol-navbar {
  height: 80px;
  background: #FFFFFF !important;
  box-shadow: 0 0 4px 1px #F2F2F2 !important;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1000;
}

.ol-navbar .nav-link {
  color: #dd2476;
}

.ol-navbar .navbar-toggler {
  border-color: none;
}

@media (min-width: 768px) {
  .ol-dropdown {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .dropdown-menu {
    display: none;
    margin-top: 10px;
    float: right;
    left: -120px;
  }
}

/* Burger */

@media (max-width: 5000px) {
  .hamburger-icon-container {
    position: fixed !important;
    top: 16px;
    right: 20px;
    color: rgba(255, 255, 255, 0);
    height: 48px;
    width: 48px;
    cursor: pointer;
    background: currentColor;
    border: 10px solid currentColor;
    border-radius: 3px;
  }
  .hamburger-icon,
  .hamburger-icon:before,
  .hamburger-icon:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 30px;
    background: #1a1933;
    transition: all 0.2s ease;
  }
  .hamburger-icon {
    top: 12px;
  }
  .hamburger-icon:before {
    top: -12px;
  }
  .hamburger-icon:after {
    top: 12px;
  }
}

/* Darstellung wenn das Close-Icon angezeigt werden soll */

.hamburger-active .hamburger-icon-container {
  color: rgba(255, 255, 255, 0);
}

.hamburger-active .hamburger-icon {
  background: transparent;
  transform: rotate(-135deg);
}

.hamburger-active .hamburger-icon:before,
.hamburger-active .hamburger-icon:after {
  top: 0;
}

.hamburger-active .hamburger-icon:before {
  transform: rotate(90deg);
}

.ol-notification-container {
  display: none;
  width: 100vw;
  height: calc(100vh - 60px);
  margin-top: 0px;
  padding: 0px 20px;
  background: #F9FAFB;
  top: 80px;
  position: absolute;
  overflow-x: hidden;
  overscroll-behavior: contain;
  z-index: 100;
}
      
.close-notifications {
  margin: -7px;
  float: right;
  font-size: 40px;
  color: #0082FF;
  cursor: pointer;
}

    .ol-carousell-container {
    overflow-x: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
  }  
  
.ol-container {
  margin: 30px auto 0px auto;
  padding: 0px 20px;
  padding-bottom: 80px;
  max-width: 1090px;
  height: calc(100vh - 140px);
  z-index: 1;
}

.ol-carousell {
  display: flex;
  position: absolute;
  top: 60px;
  left: 0vw;
  min-height: 80vh;
  flex-direction: row;
  transition: all 1s ease;
}

.ol-carousell>div {
  width: 100vw;
}

.ol-carousell #ol-zentrale {
  left: 0vw;
}

.ol-carousell .ol-posts {
  left: -100vw;
}

@media (min-width: 767px) {
  .ol-carousell-nav {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 120px;
    top: 32px;
    width: 100%;
    overflow-x: hidden;
  }
  .ol-carousell-nav>li {
    list-style: none;
    padding: 0px 20px 15px 20px;
    font-size: 20px;
    color: #7795f8;
    cursor: pointer;
    border-bottom-style: none;
    border-bottom-width: 4px;
  }
  .ol-carousell-nav>.footer-active {
    border-bottom-style: solid;
    font-weight: 500;
  }
}

@media (max-width: 767px) {
  .ol-carousell-nav {
    display: none;
  }
}

.ol-h1 {
  font-size: 32px;
  font-weight: 400;
  color: #1a1933;
}

/* @media(min-width: 767px) {
  .ol-footer {
    display: none;
  }
  
  .ol-menu-container {
    display: none;
  }
} */

@media (max-width: 5000px) {
  .ol-footer {
    display: flex;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0 0 4px 1px #F2F2F2;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: row;
    z-index: 200;
  }
  .ol-footer>div {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E2E2E2;
    transition: all .4s ease;
  }
  .ol-footer>div>span {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ED6347;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 20px;
    top: 12%;
    right: 6%;
    text-align: center;
  }
  .ol-footer>div:active {
    color: #7795f8;
  }
  .footer-active {
    color: #7795f8 !important;
  }
  .hamburger-active .ol-menu-container .ol-menu {
    height: 300vh !important;
    width: 300vh !important;
    border-radius: 50% !important;
    top: -100vh !important;
    right: -100vh !important;
  }
  .hamburger-active .ol-menu-container {
    display: block !important;
  }
  .hamburger-active .ol-menu-container .ol-menu>ul {
    position: fixed !important;
    z-index: 1000;
    top: 10vh;
    right: 0;
  }
  .hamburger-active .ol-menu-container .ol-menu>ul>li {
    opacity: 1 !important;
  }
  .ol-menu {
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    top: 0px;
    right: 4px;
    background: white;
    transition: all 1s ease;
    overflow: hidden;
    z-index: 1001;
  }
  .ol-menu>ul {
    display: flex;
    position: fixed;
    top: -80vh;
    right: -100vw;
    height: 80vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;
    padding: 0px;
  }
  .ol-menu>ul>li {
    font-size: 24px;
    line-height: 32px;
    padding: 10px 0px;
    text-decoration: none;
    list-style: none;
    color: #dd2476;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
  }
  .ol-menu>ul>li:last-child {
    color: #DE3618;
  }
  .ol-menu>ul>li::after {
    display: block;
    content: '';
    width: 0%;
    height: 2px;
    margin-top: -4px;
    margin-bottom: 0px;
    background: CurrentColor;
    transition: all .3s ease;
  }
  .ol-menu>ul>li:hover:after {
    width: 100%;
  }
}
      
  .ol-menu>ul>li>a {
    color: currentcolor;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

/* Tab Container */

.ol-tab-container {
  margin-top: 10px;
}

.ol-tab-container>nav {
  width: 100%;
  overflow-x: scroll;
  flex-wrap: nowrap !important;
}

.ol-tab-container .ol-tab-nav {
  display: flex;
  flex-direction: row;
  height: 40px;
  font-size: 18px;
  color: #FF9F00;
  line-height: 20px;
  list-style: none;
  overflow-x: scroll;
  flex-wrap: nowrap !important;
}

.ol-tab-container .nav-link {
  color: #dd2476;
  background-color: #F9FAFB;
  border-color: #F2F2F2 #F2F2F2 #FFFFFF !important;
  padding: 8px 20px;
}

#nav-uebersicht-tab {
  min-width: 110px;
}

#nav-webseite-tab {
  min-width: 127px;
}

#nav-suchmaschinen-tab {
  min-width: 175px;
}

#nav-sozialenetzwerke-tab {
  min-width: 192px;
}

.ol-tab-container .nav-link:hover {
  color: #1a1933;
}

.ol-tab-container .nav-link.active {
  color: #dd2476 !important;
  background-color: #FFFFFF;
}

.ol-tab-container .tab-pane {
  min-height: 300px !important;
  background: #FFFFFF !important;
  padding: 20px;
}

.nav-link.green::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 3px;
  margin-bottom: -2px;
  border-radius: 8px;
  background: #BBE5B3;
}

.nav-link.orange::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 3px;
  margin-bottom: -2px;
  border-radius: 8px;
  background: #FFEA8A;
}

.nav-link.red::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 3px;
  margin-bottom: -2px;
  border-radius: 8px;
  background: #FDAC9A;
}

.ui-datepicker,
.ui-datepicker-material-header {
  font-family: 'Roboto';
  position: fixed !important;
  bottom: 0px !important;
  left: 0px !important;
  z-index: 202 !important;
  width: 100% !important;
  top: auto !important;
}

.ui-datepicker-material-header {
  display: block;
  background-color: #284B72;
  color: white;
  text-align: center;
}

.ui-datepicker-material-header .ui-datepicker-material-day {
  background-color: #1F3A58;
  padding: 10px;
  font-size: 1rem;
}

.ui-datepicker-material-header .ui-datepicker-material-date {
  padding: 20px;
}

.ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-month,
.ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-day-num,
.ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-year {
  padding: 5px;
}

.ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-month {
  font-size: 2rem;
  text-transform: uppercase;
}

.ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-day-num {
  font-size: 4.5rem;
}

.ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-year {
  font-size: 1.8rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.4);
}

.ui-datepicker {
  padding: 0;
  border: none;
  /* box-shadow: 0 12px 36px 16px rgba(0,0,0,0.24); */
  width: 325px;
}

.ui-corner-all {
  border-radius: 0;
}

.ui-widget-header {
  border: 0;
}

.ui-datepicker-header {
  text-align: center;
  background: white;
  padding-bottom: 15px;
  font-weight: 300;
}

.ui-datepicker-header .ui-datepicker-prev,
.ui-datepicker-header .ui-datepicker-next,
.ui-datepicker-header .ui-datepicker-title {
  border: none;
  outline: none;
  margin: 5px;
}

.ui-datepicker-prev.ui-state-hover,
.ui-datepicker-next.ui-state-hover {
  border: none;
  outline: none;
  background: #b4cbe5;
}

.ui-datepicker-calendar .ui-state-default {
  background: none;
  border: none;
  text-align: center;
  margin: 0 auto;
  height: 33px;
  width: 33px;
  line-height: 36px;
}

.ui-datepicker-calendar .ui-state-highlight {
  color: #284B72;
}

.ui-datepicker-calendar .ui-state-active {
  border-radius: 50%;
  background-color: #284B72;
  color: white;
}

.ui-datepicker-calendar thead th {
  color: #999999;
  font-weight: 200;
}

.ui-datepicker-buttonpane {
  border: none;
}

.ui-datepicker-buttonpane .ui-state-default {
  background: white;
  border: none;
}

.ui-datepicker-buttonpane .ui-datepicker-close,
.ui-datepicker-buttonpane .ui-datepicker-current {
  background: white;
  color: #284B72;
  text-transform: uppercase;
  border: none;
  opacity: 1;
  font-weight: 200;
  outline: none;
}

.ui-datepicker-buttonpane .ui-datepicker-close:hover,
.ui-datepicker-buttonpane .ui-datepicker-current:hover {
  background: #b4cbe5;
}

.ol-notification-container > .newEvent.newEvent1 {
  max-width: 800px;
  margin: 0 auto;
}

.newEvent.newEvent1 * {
  font-family: Roboto, Open Sans, Segoe UI, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.newEvent.newEvent1 fieldset {
  margin: 15px 0px;
  padding: 0;
  border-style: none;
  background-color: #7795f8;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
  border-radius: 4px;
}

.newEvent.newEvent1 .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 10px;
  width: calc(100% - 10px);
}

.row.beschreibung {
  -ms-flex-align: self-start;
  align-items: self-start !important;
}

.newEvent.newEvent1 .row+.row {
  border-top: 1px solid #819efc;
}

.newEvent.newEvent1 label {
  width: 20%;
  min-width: 100px;
  padding: 11px 0;
  margin-right: 5px;
  color: #c4f0ff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.newEvent.newEvent1 input,
.newEvent.newEvent1 button,
.newEvent.newEvent1 select,
.newEvent.newEvent1 textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

.newEvent.newEvent1 input:-webkit-autofill {
  -webkit-text-fill-color: #fce883;
  transition: background-color 100000000s;
  -webkit-animation: 1ms void-animation-out;
}

.newEvent.newEvent1 .StripeElement--webkit-autofill {
  background: transparent !important;
}

.newEvent.newEvent1 input {
  flex-grow: 2;
  padding: 0px 15px 10px 0;
  color: #fff;
  background-color: transparent;
  -webkit-animation: 1ms void-animation-out;
}

.newEvent.newEvent1 textarea {
  height: 100px;
  flex-grow: 2;
  padding: 11px 15px 11px 0;
  color: #fff;
  background-color: transparent;
  -webkit-animation: 1ms void-animation-out;
}

.newEvent.newEvent1 select {
  flex-grow: 2;
  padding: 0px 15px 11px 0;
  color: #fff;
  background-color: transparent;
  -webkit-animation: 1ms void-animation-out;
}

.newEvent.newEvent1 input::-webkit-input-placeholder {
  color: #87bbfd;
}

.newEvent.newEvent1 input::-moz-placeholder {
  color: #87bbfd;
}

.newEvent.newEvent1 input:-ms-input-placeholder {
  color: #87bbfd;
}

.newEvent.newEvent1 textarea::-webkit-input-placeholder {
  color: #87bbfd;
}

.newEvent.newEvent1 textarea::-moz-placeholder {
  color: #87bbfd;
}

.newEvent.newEvent1 textarea:-ms-input-placeholder {
  color: #87bbfd;
}

.newEvent.newEvent1 button {
  display: block;
  width: 100%;
  height: 40px;
  margin: 20px 0 80px 0;
  background-color: #dd2476;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #ffb9f6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.newEvent.newEvent1 button:active {
  background-color: #d782d9;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #e298d8;
}

.file-input {
  position: absolute;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}

.file-input:focus {
  outline: none;
}

.file-input-vis {
  flex-grow: 3;
  color: #fff;
  cursor: pointer;
}

@media (min-width: 767px) {
  .ol-button {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background: #dd2476;
    cursor: pointer;
    z-index: 99;
  }
}

.info {
  font-size: 14px !important;
  font-weight: 400 !important;
  margin-left: 10px;
  display: flex;
}

.info::before {
  content: "";
  background-image: url(https://img.icons8.com/small/32/000000/info.png);
  background-size: contain;
  background-repeat: no-repeat;
  top: 2px;
  left: -10px;
  position: relative;
  height: 16px;
  min-width: 16px;
  display: block;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 24px !important;
  }   
  h2 {
    font-size: 20px !important;
  }  
  h3, h4, h5 {
    font-size: 18px !important;
  }   
}      
      
.event-container {
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background-color: white;
  display: flex;
  border-radius: 5px;
  align-items: center;
  margin-bottom: 10px;
}

.inner-event-container {
  margin-left: 10px;
  flex-grow: 2;
}

.inner-event-container > h5 {
  margin: 0px 0 10px 0;
  font-size: 18px;
}

.inner-event-container > p {
  margin: 5px 0 5px 0;
  font-size: 14px;
}

.event-container > img {
  height: 100px;
}

.event-buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.event-buttons > button, .event-buttons input {
  margin-top: 10px;
  border-radius: 100px;
  background-color: rgba(221, 36, 118, .96);
  color: #fff;
  display: inline-block;
  padding: 5px 15px;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}
      
.event-buttons > button:focus {
  outline: 0px none;
  background-color: rgba(221, 36, 118, .8);
}
  
@media screen and (max-width: 700px) {
  .event-container {
    flex-direction: column;
    width: calc(100% - 20px);
    align-items: flex-start;
  }
  
  .event-container > img {
    display: none;
    
  }
  
  .event-buttons {
    flex-direction: row;
    align-items: flex-start;
  }
  
  .event-buttons > button {
    margin: 0px 5px;
    width: 100px;
  }
}      
      
.notice {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.notification {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
      
.notification:empty {
   display: none;
}
      

.onboarding {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: -100px 0;
    border-radius: 10px;
    background: white;
    z-index: 1000;
}

.onboarding > img {
  width: 300px;
  margin-bottom: 10px;
}
      
</style>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/35/6/intl/de_ALL/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/35/6/intl/de_ALL/util.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/35/6/intl/de_ALL/controls.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/35/6/intl/de_ALL/places_impl.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/35/6/intl/de_ALL/geocoder.js"></script>
    <!-- <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/35/6/intl/de_ALL/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/35/6/intl/de_ALL/util.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/35/6/intl/de_ALL/stats.js"></script> -->
  </head>
  <body>
    <%=yield %>
  </body>
</html>