<!DOCTYPE html>
<html>
  <head>
    <title>Radr - Registrieren</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://uploads-ssl.webflow.com/5c06b9668d64f6e440a0abd8/css/the-radr.webflow.4a94a0780.css" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>.alert, .notice { text-align: center; } .login { height: 100vh; overflow: hidden; }</style>
  </head>

  <body> 
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
